body{
    font-family: 'Poppins', sans-serif;
margin: 0%;
}
h1{

    font-size: 50px;
}
.name{
    color: darkgoldenrod;
}
section{

    display: flex;
    margin-bottom: 150px;
}

.half{
    width: 50%;
    padding-left: 5%;
}

.half img{
    width: 100%;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
}
.top-img{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}