body{
    font-family: 'Poppins', sans-serif;
margin: 0%;
}
h1{

    font-size: 50px;
}
h2{
    font-size: 40px;
}
.darkgolden{
    color: darkgoldenrod;
}
.flexibil-container{

    display: flex;
    margin-bottom: 150px;
}

.half{
    width: 50%;
    padding-left: 5%;

}

.half img{
    width: 100%;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
}
.top-img{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.exp{
background-image: url(images/exp-bg.png);
background-repeat: no-repeat;
background-position: left;

}

.half-exp{
   
    width: 50%;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 30px;
    border-radius: 10px;
    box-shadow: 10px 10px  40px gray ;
  
}

#developer-full{
    border-left: 7px rgb(236, 222, 220);
    background-image: linear-gradient(orange,tomato);
    border-image-slice: 1;


}
#baby-developer{

    border-left: 7px rgb(240, 235, 234);
    background-image: linear-gradient(orange,tomato);
    border-image-slice: 1;

}